APP_NAME=TranscribeAI
DEBUG=false
LOG_LEVEL=INFO

HOST=0.0.0.0
PORT=8000

MAX_FILE_SIZE_MB=25
WHISPER_MODEL=base

TTS_DEFAULT_VOICE=en-US-AriaNeural
TTS_OUTPUT_DIR=temp_tts

GROQ_API_KEY=

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRY_MINUTES=1440

VITE_API_URL=http://localhost:8000/api
